<%- include("../../partials/header.ejs") %>
<body>
    <%- include("../../partials/navbar.ejs") %>
    <div class="container">
        <hr>
        <div class="card">
            <div class="card-header">
                <h2>Editar artigo</h2>
            </div>
            <div class="card-body">
                <form method="POST" action="/articles/update">
                    <input class="form-control mb-3" name="title" placeholder="Titulo Artigo" value="<%= article.title %>">
                    <select class="form-control mb-3" name="category">
                        <% categories.forEach(category => { %>
                            <% if (category.id == article.tbCategoryId) { %>
                                <option selected value="<%= category.id %>"><%= category.title %></option>
                            <% } else { %>
                                <option value="<%= category.id %>"><%= category.title %></option>
                            <% } %>
                        <% }) %>
                    </select>
                    <textarea id="article" class="form-control mb-3" name="body"><%= article.body %></textarea>

                    <br>
                    <input type="hidden" name="id" value="<%= article.id %>">
                    <button class="btn btn-success">Editar</button>
                    <a href="/admin/articles" class="btn btn-danger">Cancelar</a>
                </form>
            </div>
        </div>
    </div>
</body>
<%- include("../../partials/footer.ejs") %>
<script src="/tinymce/tinymce.min.js"></script>
<script>

    tinymce.init({
        selector: "#article",
        language: 'pt_BR',
        plugins: [
            'advlist autolisk link image lists print preview hr searchrepleace wordcount fullscreen insertdatetime media save table paste emoticons'
        ]
    })

</script>