<%- include("../../partials/header.ejs") %>
<body>
<%- include("../../partials/navbar.ejs") %>
    <div class="container">
        <hr>
        <h2 class="mb-3">Categorias</h2>
        <a class="btn btn-success mb-3" href="/admin/articles/new">Criar Artigo</a>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Titulo</th>
                    <th>Slug</th>
                    <th>Categoria</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                <% articles.forEach(article => { %>
                <tr>
                    <td><%= article.id %></td>
                    <td><%= article.title %></td>
                    <td><%= article.slug %></td>
                    <td><%= article['tb_category.title'] %></td>
                    <td>
                        <a class="btn btn-warning" href="/admin/categories/edit/<%= article.id %>">Editar</a>
                        <form id="deletar" method="POST" action="/categories/delete" style="display: inline;">
                            <input type="hidden" name="id" value="<%= article.id %>">
                            <button type="submit" class="btn btn-danger">Excluir</button>
                        </form>
                    </td>
                </tr>
                <% }); %>
            </tbody>
        </table>
    </div>
</body>
<%- include("../../partials/footer.ejs") %>