<%- include("../../partials/header.ejs") %>

<body>
    <%- include("../../partials/homenavbar.ejs") %>
    <div class="container">
        <hr>
        <% result.articles.rows.forEach(article => { %>
        <div class="card mb-4">
            <div class="card-header">
                <h3><%= article.title %></h3>
            </div>
            <div class="card-body">
                <a href="/<%= article.slug %>" class="btn btn-success">Ler artigo</a>
            </div>
        </div>
        <% }); %>

        <div class="row mb-4">
            <div class="col col-12">
                <% if (page > 2) { %>
                    <a class="btn btn-primary" style="float:left;" href="/articles/page/<%= page - 1 %>"> <<< Prev</a>
                <% } else if (page == 2) { %>
                    <a class="btn btn-primary" style="float:left;" href="/"> <<< Prev</a>
                <% } %>
                
                <% if (page < result.finalPage) { %>
                    <a class="btn btn-primary" style="float:right;" href="/articles/page/<%= page + 1 %>">Next >>></a>
                <% } %>
            </div>
        </div>

    </div>
</body>
<%- include("../../partials/footer.ejs") %>