<%- include("../../partials/header.ejs") %>
<body>
    <%- include("../../partials/navbar.ejs") %>
    <div class="container">
        <hr>
        <div class="card">
            <div class="card-header">
                <h2>Edição de categorias</h2>
            </div>
            <div class="card-body">
                <form method="POST" action="/categories/update">
                    <input type="hidden" name="id" value="<%= category.id %>">
                    <input class="form-control mb-3" value="<%= category.title %>" name="title" placeholder="Titulo categoria">
                    <button class="btn btn-success">Editar</button>
                </form>
            </div>
        </div>
    </div>
</body>
<%- include("../../partials/footer.ejs") %>